/* css reset */

*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img, picture, video {
    display: block;
    max-width: 100%;
}

/* utility classes */

.center {
    text-align: center;
}

/* specific styling */

.grid_canvas {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row {
    display: flex;
}

.cell {
    width: 8px;
    height: 8px;
}

.border {
    border: 0.2px solid rgba(34, 11, 11, 0.494);
}

.content_wrapper {
    display: flex;
    flex: 3fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
}

.controls {
    margin: 20px;
}

.controls-div{
    display: flex;
    align-items: center;
}

/* on off button switch */
.switch{
    display: inline-block;
    width: 2rem;
    font-weight: bolder;
    color: black;
    margin-left: 1rem;
}
