/* css reset */

*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* utility classes */

.center {
    text-align: center;
}

/* specific styling */

.grid_canvas {
    border: 5px solid black;
}

.row {
    display: flex;
}

.cell {
    width: 8px;
    height: 8px;
}

.content_wrapper {
    display: flex;
    flex: 3fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
}

.controls {
    margin: 20px;
}

